* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  max-width: 100%;
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 15px 30px;
}

.main {
  background-color: black;
  height: 200px;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  font-family: "Globotipo Variable", "Globo", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.container_header_dois{
    background-color: #ff6700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    color: white;
}
#pesquisar{
    border: 2px solid black;
    border-radius: 10px;
}
.menu_icon {
  font-size: 30px;
  cursor: pointer;
}
